@import "../../../styles/animations";
@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/typography";
@import "../../../styles/spaces";
@import "../../../styles/modals";
@import "../../../styles/vendor/reset";
@import "../../../styles/vendor/flexboxgrid/flexboxgrid";
@import "../../../styles/vendor/flexboxgrid/mixins/flex";

.ship {
  height: 150px;
  width: 150px;
  padding: 16px;
  margin: 8px;
  border: 1px solid $;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  }
}